<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="org.gusmano.snippit" 
		version="0.1.0">
    <name>Snippit</name>
    <description>Sample Cordova Snippit Plugin</description>
    <license>MIT</license>
    <keywords>cordova,snippit</keywords>
    <repo>https://github.com/mgusmano/SnippitPlugin.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320638</issue> 
 
    <js-module src="www/snippit.js" name="Snippit">
        <clobbers target="window.snippit" />
    </js-module>
 
    <platform name="android">
	
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Snippit">
                <param name="android-package" value="org.gusmano.snippit.Snippit"/>
            </feature>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.CALL_PHONE" />
			<uses-permission android:name="android.permission.SEND_SMS" />
			<uses-permission android:name="android.permission.READ_CONTACTS" />
        </config-file>		
 
        <source-file src="src/android/Snippit.java" target-dir="src/org/gusmano/snippit" />   
		
     </platform>          
</plugin>